<!-- THIS FILE IS REPRESENTING THE HOME PAGE OF THE APPLICATION -->
<div class="row home-page">
    <div class="col-md-4">
        <img src="../images/bgImg.jpg" alt="Backgroud-Image" id="Home-Page-Image">
    </div>
    <div class=" col-md-6">
  
        <!-- MAIN HAEDING OF THE HOME PAGE  -->
        
        <h1><i class="bi bi-columns-gap"></i> HABIT TRACKER<br> <span class="champColor"></span></h1>
  
        <!-- INTRO PARAGRAPH OF THE APPLICATION -->
  
        <p class="intro-para">Habit change has the remarkable power to transform lives. 
          By altering our daily routines and behaviors, 
          we can cultivate positive habits that lead to improved health, 
          enhanced productivity, and greater overall happiness. 
          Whether it's committing to regular exercise, practicing mindfulness, 
          or adopting healthier eating habits, small changes compounded over 
          time can yield significant results. Through consistent effort and 
          determination, individuals can break free from detrimental patterns 
          and steer their lives towards fulfillment and success. 
          Habit change isn't just about modifying behavior; it's about 
          reshaping our identities and unlocking our full potential, ultimately 
          shaping the trajectory of our lives for the better.</p>
  
        <!-- BUTTON TO NAVIGATE TO THE HABIT LIST PAGE  -->
        <a href="/list" class=" btn my-btn">My Habits</a>
  
    </div>
  </div>
  